.__nexaHeavy {
    font-family: "Nexa Heavy";
}

.__nexaBold {
    font-family: "Nexa Bold";
}

.__nexaBlack {
    font-family: "Nexa Black";
}

.__nexaRegular {
    font-family: "Nexa Regular";
}

.__barlowBold {
    font-family: "Barlow Bold";
}

.__barlowBlack {
    font-family: "Barlow Black";
}

.__barlowRegular {
    font-family: "Barlow Regular";
}

.__barlowLight {
    font-family: "Barlow Light";
}